{{! index.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}PayFact! | Cobranza{{/title}}
{{$links}}
<link rel="stylesheet" type="text/css" href="/css/Cliente.css">   
{{/links}}
{{/header}}
{{/header}}
{{$content}}

{{$navbar}}
{{<navbar}}
{{/navbar}}
{{/navbar}}

<h1>Formulario de Cobranza<h1>
{{/content}}
{{/base}}