{{! header.mustache }}
<head>
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Login.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/owl.css">
    <!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="/templates/assets/css/animate.css">
	
	<link rel="stylesheet" type="text/css" href="/templates/assets/css/cardio.css">


    <title>{{$title}}Default title{{/title}}</title>
</head>