{{! index.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}PayFact!{{/title}}
{{/header}}
{{/header}}
{{$content}}
<h1> Bienvenido a {{name}}! </h1>
<p> Con esta aplicacion podras gestionar las facturas y pagos de tus deudores. </p>

<div class="alert alert-danger alert-dismissible {{active}}" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Error
</div>

<form action="/user/inicio" method="post">
  First name:<br>
  <input type="text" name="username" placeholder="Username"><br>
  Last name:<br>
  <input type="password" name="password" placeholder="Password"><br><br>
  <input type="submit" value="Submit">
</form>
{{/content}}
{{/base}}